/* Add some basic styles to the quiz container */
*{
  margin: 0;
  padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    padding: 20px;
    height: 100vh;
    background:  url(pic.jfif);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  h1 {
    text-align: center;
  }
  
  #question {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  #choices {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
  }
  
  #choices li {
    background-color: #fff;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #choices li:hover {
    background-color: gray;
  }
  
  #submit {
    display: block;
    margin: 0 auto;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #submit:hover {
    background-color:skyblue;
  }
  
  #score {
    font-size: 18px;
    text-align: center;
  }
  
  /* Add some responsive styles */
  @media (max-width: 768px) {
    #question {
      font-size: 20px;
    }
  
    #choices li {
      font-size: 18px;
    }
  
    #submit {
      font-size: 18px;
    }
  
    #score {
      font-size: 16px;
    }
  }
  